
<!-- Page Content -->
<div class="container" >


  <div class="row">
    
    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{data.title}}</h1>

      <!-- Author -->
      <p class="lead">
        by {{data.user.name}}
        <a href="#"></a>
      </p>
      <app-messageform></app-messageform>
      <hr>

      
      <app-message></app-message>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Cat 1</a>
                </li>
                <li>
                  <a href="#">Cat 2</a>
                </li>
                <li>
                  <a href="#">Cat 3</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Cat 4</a>
                </li>
                <li>
                  <a href="#">Cat 5</a>
                </li>
                <li>
                  <a href="#">Cat 6</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">User Description</h5>
        <div class="card-body">
          {{data.description}}
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
