
<!-- Page Content -->
<div class="container" >


  <div class="row">
    
    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{ data?.title }}</h1>

      <!-- Author -->
      <p class="lead">
        by {{data?.user.name}}
        <a href="#"></a>
      </p>
      <app-messageform></app-messageform>
      <hr>

      
      <app-message></app-message>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">User Description</h5>
        <div class="card-body">
          {{data?.description}}
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
