<div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <form [formGroup]="registerForm" (ngSubmit)="signup();">
          <div class="formbox">
  
            <div class="form-group">
              <input type="text" formControlName="fullName" class="form-control" placeholder="Full Name"
                [ngClass]="{ 'is-invalid': submitted && fval.fullName.errors }" />
              <div *ngIf="submitted && fval.fullName.errors" class="invalid-feedback">
                <div *ngIf="fval.fullName.errors.required">
                  Full Name is required and must be a valid name
                </div>
                <div *ngIf="fval.fullName.errors.minlength">Name must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <input type="email" formControlName="email" class="form-control" placeholder="Email"
                [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" />
              <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                <div *ngIf="fval.email.errors.required">Email is required</div>
                <div *ngIf="fval.email.errors.email">Enter a valid email address</div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" formControlName="password" class="form-control" placeholder="Password"
                [ngClass]="{ 'is-invalid': submitted && fval.password.errors}" />
              <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
                <div ngClass="submitted && fval.password.errors.required">
                  Password is required.
                </div>
                <div *ngIf="fval.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary signin">Sign Up <span class="arrowbtn"><span
                    class="fa fa-arrow-right"></span></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>